<div class="container">
  <div class="dashboard">
    <div class="your-info">
      <div>
        <div class="name">Hi, <%= @user.first_name %> <%= @user.last_name %>! </div>
        <div><%= @user.email %></div>
      </div>
    </div>
    <div class="bookings">
      <h2>Your Bookings</h2>
      <% if @user.bookings.presence %>
      <% @user.bookings.each do |booking| %>
      <div class="booking">
        <div class="booking-details">
          <div><%= booking.item.name %></div>
          <div>Start date: <%= booking.start_date.strftime("%FT%T") %></div>
          <div>End date: <%= booking.end_date.strftime("%FT%T") %></div>
        </div>
        <div class="add-review">
          <% if !booking.item_review %>
          <%= simple_form_for [booking, @item_review] do |f|%>
          <%= f.input :rating, collection: [1,2,3,4,5] %>
          <%= f.input :content %>
          <%= f.submit "Add Review", class: "btn btn-primary" %>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% else %>
      <div class="booking">
        You don't have any bookings yet!
      </div>
      <%= link_to "Browse Items", items_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="user-items">
      <div>
        <h2>Your Listed Items</h2>
        <% if @user.items.presence %>
        <% @user.items.each do |item|%>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <%= link_to item_path(item) do %>
              <%= render 'shared/card', item: item %>
            <% end %>
            <div>
              <% if item.published? %>
              <p>This item is published</p>
              <% else %>
              <p>This item is not published</p>
              <% end %>
              <%= link_to "Edit", edit_item_path(item), class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
        <% else %>
        <div class="no-items">
          You haven't listed any items yet!
        </div>
        <%= link_to "List an Item now", new_item_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

