<h1>Users#dashboard</h1>
<p>Hi, <%= @user.first_name %> <%= @user.last_name %>! </p>

<div class="container">
  <h2>Your Bookings</h2>
  <% @user.bookings.each do |booking| %>
  <div class="booking">
    <%= booking.item.name %>
    <%= booking.start_date %>
    <%= booking.end_date %>
    <div class="add-review">
      <%= simple_form_for [booking, @item_review] do |f|%>
        <%= f.input :rating, collection: [1,2,3,4,5] %>
        <%= f.input :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<div class="container">
  <h2>Your Listed Items</h2>
  <% @user.items.each do |item|%>
    <div class="users-item">
      <%= item.name %>
      <% if item.published? %>
        <p>This item is published</p>
      <% else %>
        <p>This item is not published</p>
      <% end %>
      <%= link_to "View Item", item_path(item) %>
      <%= link_to "Edit", edit_item_path(item) %>
    </div>
  <% end %>
</div>


