<div class="banner-wrapper">
  <div class="banner-home">
    <div class="banner-content">
      <div class="banner-c2a">
        <h1 class="heading"><b>Rent</b> tested sports eQuipment</h1>
        <p class="paragraph">Find the items you need, where you need them</p>
      </div>
      <div class="searchbar-container">
        <div class="row">
          <%= form_tag("/items", class: "form", method: "get") do %>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-0 colpadd">
              <%= select_tag "category", options_for_select(Item.all.pluck(:category).uniq), include_blank: "All", class: "form-control" %>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 colpadd">
               <%= text_field_tag :itemname, nil, placeholder: "What would you like to rent?", class: "form-control keyword" %>
             </div>
             <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 colpadd">
              <%= text_field_tag :location, nil, placeholder: "Where would you like to rent?", class: "form-control input" %>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-0 colpadd">
              <%= submit_tag("Search Now", id: "searchbtn", class: "btn btn-primary")  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="advantages">
      <div><%= image_tag("feather.svg", class: "advantages-img") %>Travel Light</div>
      <div><%= image_tag("piggy.svg", class: "advantages-img") %>Save Time & Money</div>
      <div><%= image_tag("balance.svg", class: "advantages-img") %>Compare Offers</div>
      <div><%= image_tag("help.svg", class: "advantages-img") %>Help 24/7</div>
    </div>
  </div>
</div>
<div id="homecarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500">
  <div class="carousel-inner">
    <div class="active item">
      <div class="carousel-gradient"></div>
      <%= image_tag "snowboard.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "tenis.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "bike.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "skate.jpg" %>
    </div>
  </div>
</div>
