<div class="container">
  <%= form_tag("/items", method: "get") do %>
    <%= select_tag "category", options_for_select(Item.all.pluck(:category).uniq), include_blank: "All", class: "select-home form-control" %>
     <%= text_field_tag :itemname, nil, placeholder: "What?", class: "please-work form-control" %>
    <%= text_field_tag :location, nil, placeholder: "Where?", class: "please-work form-control" %>
    <%= submit_tag("Search Now", class: "btn btn-primary")  %>
  <% end %>
</div>

<div class="container">
  <h2>Search Results</h2>
</div>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <% if item.published %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= item.name %>
        <%= item.description %>
        <p>Send <%= item.user.first_name %> a message </p>
        <%= link_to "See Details", item_path(item) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= link_to "List eQuipment", new_item_path %>
</div>

<div id="map" data-markers="<%= @markers.to_json %>"></div>

