<div class="container">

  <div class="product-details">
  <h2><%= @item.name %></h2>
  <div class="item-details">
    <div class="location-product">
      <span class="location"><%= @item.address %></span>
      <a class="anchor-map anchor" href="#map-box">
        <i class="icon ion-android-pin"></i>
        <u>Map</u>
      </a>
    </div>
  </div>

  <div class="product-rate">
    <strong>Daily Rate: </strong>
    <span>$ <%= @item.price %></span>
  </div>

  <div class="product-photo">
    <%= @item.photo %>
  </div>

  <div class="product-description">
    <h4>Description:</h4>
    <p><%= @item.description %></p>
  </div>

  <div class="edit-option">
    <% if policy(@item).edit? %>
      <%= link_to "Edit", edit_item_path(@item) %>
    <% end %>
  </div>

  <div class="container">
    <div class="reviews">
      <% @item.item_reviews.each do |review| %>
      <div class="review">
        <%= review.content %>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to Search", items_path %>
</div>
